/*global*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[class^='container'],[class^='col']{
  background-color: aquamarine;
  border: 2px solid black;
}

/*head*/
.head-bar{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jumbotron{
  min-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*main*/
.portfolio{
  text-align: center;
}
.six-img{
  display: flex;
  flex-wrap: wrap;
}
.col-sm-12{
  padding: 10px;
}
.row.my-4 .col-md-6{
  display: flex;
  justify-content: start;
}
.about h3{
  text-align: center;
}
.container-fluid.about.align-content-center span{
text-align: center;
}
/*footer*/
.footer{
  display: flex;
  justify-content: center;
}